{% extends "base.html" %}

{% block upload %}


    <section class="text-left">

        <div class="align-content-center padding-l padding-t">
            <div class="card-body">
                <h3 class="card-title">동영상을 올려주세요</h3>
                <div class="embed-responsive rounded-top text-padding">
                    <form action = "http://localhost:5000/uploader" method = "POST"
                          enctype = "multipart/form-data">
                        <input type = "file" name = "file" />
                        <input type = "submit"/>
                    </form>
                </div>
            </div>
        </div>

      </section>
      <!--Section: Cards-->

{% endblock upload %}